.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header ul li {
  list-style: none;
}
.Header {
  background-image: url('bg.gif');
  background-attachment:fixed ;
  width: 100%;
}

section {
  background-color: #cdcdce;
}
Footer {
  background-color: #6e7175;
  color: rgb(0, 0, 0);
}
.img {
  padding: 10px;
  width: 90%;

}

button {
  border: none;
}